---
CompileFlags:
  CompilationDatabase: "./build/unix-make-clang"
  Add: [
    # -std=gnu++23,
    # -march=native,
    # -fconstexpr-depth=1000,
    # -fconstexpr-steps=100000000,
    # -I/home/huben/Projects/static-proto-c/extern/nameof/include,
    # -I/home/huben/Projects/static-proto-c/include/quickcpplib/include,
    # -I/home/huben/Projects/static-proto-c/include/outcome/include,
    # -I/home/huben/Projects/static-proto-c/include/llfio/include,
    ]
Diagnostics:
  ClangTidy:
    Add: [
      # clang-analyzer-core*,
      # clang-analyzer-cplusplus*,
      # clang-analyzer-deadcode*,
      # clang-analyzer-nullability*,
      # clang-analyzer-optin*,
      # clang-analyzer-security*,
      # clang-analyzer-unix*,
      bugprone*,
      modernize*,
      performance*,
      readability*,
      cppcoreguidelines*,
      # fuchsia-statically-constructed-objects,
      fuchsia-trailing-return,
      google-default-arguments,
      google-explicit-constructor,
      google-global-names-in-headers,
      google-runtime-int
    ]
    Remove: [
      bugprone-easily-swappable-parameters,
      modernize-use-auto,
      modernize-use-trailing-return-type,
      modernize-use-designated-initializers,
      modernize-avoid-c-arrays,
      readability-identifier-length,
      readability-magic-numbers,
      readability-function-cognitive-complexity,
      # readability-else-after-return,
      cppcoreguidelines-avoid-c-arrays,
      cppcoreguidelines-avoid-magic-numbers,
      cppcoreguidelines-avoid-do-while,
      cppcoreguidelines-avoid-goto,
      cppcoreguidelines-init-variables,
      cppcoreguidelines-init-variables,
      cppcoreguidelines-macro-usage,
      cppcoreguidelines-no-malloc,
      cppcoreguidelines-pro-bounds*,
      # cppcoreguidelines-pro-type-reinterpret-cast
    ]
    CheckOptions:
      readability-braces-around-statements.ShortStatementLines: 1
      readability-implicit-bool-conversion.UseUpperCaseLiteralSuffix: true
      cppcoreguidelines-avoid-non-const-global-variables.AllowInternalLinkage: true
      bugprone-narrowing-conversions.IgnoreConversionFromTypes: ""
      Bugprone-narrowing-conversions.PedanticMode: true
