---
CompileFlags:
  CompilationDatabase: "./build/unix-make-clang"
  Add: [
    -Wno-unused-label,
    -Wno-uninitialized,
    -fconstexpr-depth=128,
    -fconstexpr-steps=10000000,
    ]
Diagnostics:
  ClangTidy:
    Add: [
      boost*,
      bugprone*,
      modernize*,
      performance*,
      readability*,
      cppcoreguidelines*,
      misc*,
      linuxkernel*,
      google-default-arguments,
      google-explicit-constructor,
      google-global-names-in-headers,
      google-runtime-int,
      google-runtime-operator,
    ]
    Remove: [
      bugprone-easily-swappable-parameters,
      modernize-use-auto,
      modernize-use-trailing-return-type,
      modernize-use-designated-initializers,
      modernize-avoid-c-arrays,
      readability-identifier-length,
      readability-magic-numbers,
      readability-function-cognitive-complexity,
      cppcoreguidelines-avoid-c-arrays,
      cppcoreguidelines-avoid-magic-numbers,
      cppcoreguidelines-avoid-do-while,
      cppcoreguidelines-avoid-goto,
      cppcoreguidelines-init-variables,
      cppcoreguidelines-macro-usage,
      cppcoreguidelines-pro-bounds*,
      misc-static-assert,
      misc-non-private-member-variables-in-classes
    ]
    CheckOptions:
      readability-braces-around-statements.ShortStatementLines: 1
      readability-implicit-bool-conversion.UseUpperCaseLiteralSuffix: true
      cppcoreguidelines-avoid-non-const-global-variables.AllowInternalLinkage: true
      bugprone-narrowing-conversions.IgnoreConversionFromTypes: ""
      bugprone-narrowing-conversions.PedanticMode: true
      cppcoreguidelines-no-malloc.Allocations: "wcsdup;strdup;strndup;malloc;calloc;valloc;pvalloc;memalign;aligned_alloc;canonicalize_file_name;tempnam;_mm_malloc"
      cppcoreguidelines-no-malloc.Reallocations: "realloc;reallocarray"
      cppcoreguidelines-no-malloc.Deallocations: "free;free_sized;free_aligned_sized;_mm_free"
